<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>iconStr</key>
			<string>content_icon_id</string>
			<key>name</key>
			<string>身份验证</string>
			<key>introduct</key>
			<string>最高可提升1万额度</string>
			<key>isVerify</key>
			<false/>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>iconStr</key>
			<string>content_icon_internetbank</string>
			<key>name</key>
			<string>网银</string>
			<key>introduct</key>
			<string>提高审核通过率</string>
			<key>isVerify</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>iconStr</key>
			<string>content_icon_oparator</string>
			<key>name</key>
			<string>运营商</string>
			<key>introduct</key>
			<string>降低8%费率</string>
			<key>isVerify</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>iconStr</key>
			<string>content_icon_alipay</string>
			<key>name</key>
			<string>支付宝</string>
			<key>introduct</key>
			<string>降低6%费率</string>
		</dict>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>iconStr</key>
			<string>content_icon_mail</string>
			<key>name</key>
			<string>邮箱</string>
			<key>introduct</key>
			<string>可提升2000额度</string>
		</dict>
		<dict>
			<key>id</key>
			<string>7</string>
			<key>iconStr</key>
			<string>content_icon_fund</string>
			<key>name</key>
			<string>公积金</string>
			<key>introduct</key>
			<string>提升3000额度</string>
		</dict>
		<dict>
			<key>id</key>
			<string>8</string>
			<key>iconStr</key>
			<string>content_icon_taobao</string>
			<key>name</key>
			<string>淘宝</string>
			<key>introduct</key>
			<string>提升放款速度</string>
		</dict>
		<dict>
			<key>id</key>
			<string>9</string>
			<key>iconStr</key>
			<string>content_icon_information</string>
			<key>name</key>
			<string>征信</string>
			<key>introduct</key>
			<string>最高可提升1万额度</string>
		</dict>
	</array>
</dict>
</plist>
